[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
gunicorn = "*"
huggingface-hub = "*"
numpy = "*"
pandas = "*"
pydantic = "*"
pymongo = "*"
python-dotenv = "*"
pyyaml = "*"
regex = "*"
requests = "*"
tokenizers = "*"
torch = "*"
tqdm = "*"
transformers = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
